@charset "UTF-8";
#bloc_page {
  max-width: 750px;
  font-family: "Roboto", arial;
}

body {
  margin: 0;
}

/***animation page d'acceuil***/
#bloc_page .acceuil {
  animation: fixe 8s;
}

@keyframes fixe {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/***animation loading***/
.loading {
  position: absolute;
  height: 200px;
  left: 25%;
  top: 50%;
  opacity: 0;
  animation: loading 4s;
}

.loading img {
  width: 80%;
  position: relative;
  right: 10%;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/***animation couvert loading***/
.loading .I1 {
  font-size: 2em;
  margin: 0;
  color: #9356dc;
  position: absolute;
  left: 25%;
  top: 40%;
  animation: rotation 2s infinite;
}

.loading .I2 {
  font-size: 2em;
  margin: 0;
  color: #9356dc;
  position: absolute;
  left: 85%;
  bottom: 80%;
  animation: rotation 2s infinite;
}

.loading .I3 {
  font-size: 2em;
  margin: 0;
  color: #9356dc;
  position: absolute;
  right: 120%;
  bottom: 80%;
  animation: rotation 2s infinite;
}

.loading .I4 {
  font-size: 2em;
  margin: 0;
  color: #9356dc;
  position: absolute;
  bottom: 120%;
  left: 25%;
  animation: rotation 2s infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(3turn);
  }
}
.header_logo_index {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 32px;
  background-color: #f6f6f6;
  padding-top: 10px;
}
.header_logo_index img {
  width: 50%;
}

.header_carte {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 320px;
  padding-top: 10px;
}
.header_carte .fa-arrow-left {
  padding-left: 10px;
}
.header_carte .header_logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 32px;
  padding-top: 10px;
}
.header_carte .header_logo img {
  width: 50%;
}
.header_carte .logo {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.header_carte .photos_resto img {
  height: 253px;
  object-fit: cover;
  width: 100%;
}

/***article page d'acceuil***/
/***animation loading***/
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 285px;
  background-color: #f6f6f6;
}
article .article_map {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: inset 0 3px 3px #cfcfcf;
}
article .fa-map-marker-alt {
  margin-right: 15px;
}
article input {
  border: none;
  background-color: #eaeaea;
  font-weight: bold;
}
article .presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
article .presentation p {
  text-align: center;
  font-size: large;
  margin-bottom: 0;
  font-weight: bold;
  width: 55%;
}
article .presentation h1 {
  text-align: center;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  width: 80%;
}
article .presentation input {
  width: 60%;
  height: 48px;
  border-radius: 20px;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  color: white;
  font-weight: bold;
}

/***Page d'acceuil***/
nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
nav .nav_choix {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
nav a {
  display: flex;
  flex-direction: row;
  width: 90%;
  border: solid #eaeaea;
  border-radius: 20px;
  align-items: baseline;
  background-color: #eaeaea;
  text-decoration: none;
  box-shadow: -1px 4px 6px #d1d1d1;
}
nav a p {
  z-index: 1;
  position: relative;
  right: 10px;
  background-color: #9356dc;
  color: white;
  width: 5%;
  padding: 5px;
  text-align: center;
  border-radius: 100%;
  font-weight: bold;
}
nav a .nav_icone {
  z-index: 1;
  position: relative;
  left: 5px;
  color: #7e7e7e;
}
nav a h3 {
  z-index: 1;
  position: relative;
  left: 15px;
  color: black;
}
nav a:hover {
  background-color: #f2eafb;
  border: none;
}
nav a:hover .nav_icone {
  color: #9356dc;
}

/***Page principale***/
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
section h3 {
  margin-left: 15px;
}

section .restaurant {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 250px;
  background-color: white;
  margin: 10px;
  border-radius: 20px;
}
section .restaurant a {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #d1d1d1;
}
section .restaurant figure {
  margin: 0;
  display: inline-block;
  position: relative;
}
section .restaurant figure .news {
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 65%;
  width: 30%;
}
section .restaurant figure h4 {
  margin: 0;
  color: #38c4a1;
  background-color: #99e2d0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .restaurant figure img {
  width: 100%;
  height: 172px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
section .restaurant figcaption {
  display: flex;
  flex-direction: row;
  height: 76px;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
section .restaurant figcaption .restaurant_title {
  display: flex;
  flex-direction: column;
}
section .restaurant figcaption .restaurant_title h4 {
  margin: 0;
}
section .restaurant figcaption .restaurant_title p {
  margin: 0;
}

/****page carte***/
.resto h2 {
  font-family: "Shrikhand", arial;
  margin-top: -40px;
  padding: 10px;
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.choice {
  width: 90%;
  padding-left: 5px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.choice h3 {
  font-weight: unset;
  font-size: 16px;
  padding-bottom: 8px;
  width: 20%;
  border-bottom: solid #99e2d0;
}
.choice h4 {
  margin-top: 10px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.choice p {
  margin: 0;
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.choice .choice_food1, .choice .choice_food2, .choice .choice_food3, .choice .choice_food4 {
  display: flex;
  width: 100%;
  height: 60px;
  margin: 5px;
  background-color: white;
  border-radius: 20px;
  padding: 0;
  box-shadow: -1px 4px 6px #d1d1d1;
  cursor: pointer;
}
.choice .choice_food1 .choice_title, .choice .choice_food2 .choice_title, .choice .choice_food3 .choice_title, .choice .choice_food4 .choice_title {
  position: relative;
  width: 100%;
  padding-left: 10px;
}
.choice .choice_food1 .choice_title .prix, .choice .choice_food2 .choice_title .prix, .choice .choice_food3 .choice_title .prix, .choice .choice_food4 .choice_title .prix {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.icone {
  background-color: #99e2d0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  padding-top: 20px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 0;
  text-decoration: none;
}
.icone .fa-check-circle {
  margin-right: 15px;
  margin-bottom: 20px;
}

.valid {
  color: white;
}

section .btn_commande {
  width: 30%;
  margin-left: 100px;
}
section .btn_commande input {
  height: 48px;
  border-radius: 20px;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  color: white;
  font-weight: bold;
  border: none;
}

/***Animation coeur qui se remplit acceuil***/
.restaurant_heart {
  position: relative;
  left: 90%;
  bottom: 20%;
}

button {
  border: none;
  background: none;
  padding: 0;
}

.fa-heart::after {
  content: "";
  font-weight: 900;
  position: absolute;
  left: 0;
  color: #9356dc;
  transform: scale(0);
}

button:hover > i::after {
  transform: scale(1);
  transition: transform 1s;
}

/***Animation glissade carte***/
.choice_food1:hover .icone, .choice_food2:hover .icone, .choice_food3:hover .icone, .choice_food4:hover .icone {
  background-color: #99e2d0;
  transform: scale(1);
  transform-origin: 100%;
  transition: 2000ms;
  width: 100%;
}
.choice_food1:hover .fa-check-circle, .choice_food2:hover .fa-check-circle, .choice_food3:hover .fa-check-circle, .choice_food4:hover .fa-check-circle {
  transform: rotate(3turn);
  transition: 600ms;
}
.choice_food1:hover p, .choice_food2:hover p, .choice_food3:hover p, .choice_food4:hover p {
  width: 60%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.choice_food1:hover h4, .choice_food2:hover h4, .choice_food3:hover h4, .choice_food4:hover h4 {
  width: 60%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/****Animation apparition carte***/
.choice_food1 {
  animation: apparition 1s;
}

.choice_food2 {
  animation: apparition 2s;
}

.choice_food3 {
  animation: apparition 3s;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  to {
    width: 100%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-around;
  background-color: #353535;
  color: white;
  padding: 15px;
}
footer h5 {
  margin-bottom: 10px;
  font-family: "Shrikhand", arial;
  font-size: 14px;
}
footer p {
  margin: 0;
  text-decoration: none;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}
footer .fa-utensils {
  margin: 4px;
}

/*# sourceMappingURL=style.css.map */
